<div data-role="page" id="splash" data-position="fixed">
  <div data-role="header">
    <h1>Novus</h1>
  </div>
  <div role="main" class="ui-content">
    <ul data-role="listview" id="splash_listview">

    </ul>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#splash">Inicio</a>
        </li>
        <li>
          <a href="#inicioDeSesion">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="inicioDeSesion" data-position="fixed">
  <div data-role="header">
    <h1>Novus</h1>
  </div>
  <div role="main" class="ui-content">
    <h2>Inicio de Sesion</h2>
    <br>
    <label>Nombre de Usuario</label>
    <input type="text" name="txtNombreUsuario" id="txtNombreUsuario" value="">
    <br>
    <label>Contrasenia</label>
    <input type="password" name="txtContrasenia" id="txtContrasenia" value="">
    <br>
    <button id="inicioDeSesion-send">Ingresar</button>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#splash">Inicio</a>
        </li>
        <li>
          <a href="#inicioDeSesion">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</div>
