<div data-role="page" id="home" data-position="fixed">
  <div data-role="panel" id="novusPanel1" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
</div><!-- /panel -->
  <div data-role="header">
    <a  href="#novusPanel1" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
  <div role="main" class="ui-content">
    <div id="backlog_containerHome">

    </div>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="conocenos" data-position="fixed">
  <div data-role="panel" id="novusPanel2" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
</div><!-- /panel -->
  <div data-role="header">
    <a  href="#novusPanel2" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
  <div role="main" class="ui-content">
    <h2>Quienes somos?</h2>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <h3 align="center">Vision</h3>
      </div>
      <div class="ui-body ui-body-a">
        <p>En los próximos 5 años, ser la empresa líder en la venta de instrumentos, artículos, insumos y servicios relacionados con el área de la salud, reconocida por estrategias y acciones innovadoras que faciliten el desarrollo de estudiantes y profesionales en beneficio de la población.</p>
      </div>
    </div>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <h3>Mision</h3>
      </div>
      <div class="ui-body ui-body-a">
        <p>Somos una empresa fundada por una sociedad de estudiantes del área de la salud, dedicada a la distribución y venta de instrumentos, artículos, insumos y servicios relacionados; dirigido a estudiantes, profesionales y población en general, utilizando estrategias personalizadas y eficaces ofreciendo precios justos con responsabilidad y proyección social.</p>
      </div>
    </div>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="inicioDeSesion" data-position="fixed">
  <div data-role="panel" id="novusPanel3" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
    <a href="#novusPanel3" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
  <div role="main" class="ui-content" id="">
  <h2>Inicio de Sesion</h2>
  <form id="frm_login">
          <div class="ui-field-contain">
              <label for="lgn_user">Correo Electronico</label>
              <input type="email" data-clear-btn="true" name="txtCorreo" id="txtCorreo" value="">
              <br/>
              <label for="lgn_pwd">Password</label>
              <input type="password" data-clear-btn="true" name="txtContrasenia" id="txtContrasenia" value="" autocomplete="off">
              <br/>
              <button class="ui-btn ui-shadow" id="inicioDeSesion-send">Iniciar Sesion</button>
          </div>
    </form>
  <h3>Todavia no tienes una cuenta?<a href="#agregarUsuarios">Registrate aqui.</a></h3>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
            <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="cerrarSesion" data-position="fixed">
  <div data-role="panel" id="novusPanel4" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
      <a href="#novusPanel4" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
      <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
      <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
  <div role="main" class="ui-content" id="">
    <form id="frm_login">
            <div class="ui-field-contain">
                <h2>Desea cerrar sesion?</h2>
                <button class="ui-btn ui-shadow" id="cerrarDeSesion-send">Cerrar Sesion</button>
            </div>
        </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
            <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="agregarProductos" data-position="fixed">
  <div data-role="panel" id="novusPanel5" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
    <a href="#novusPanel5" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
  <div role="main" class="ui-content" id="">
  <h2>Agregar Productos</h2>
  <form id="frm_agregarProductos">
          <div class="ui-field-contain">
              <label for="lgn_user">Nombre del Producto</label>
              <input type="text" data-clear-btn="true" name="txtNombreProducto" id="txtNombreProducto" value="">
              <br/>
              <label for="number-pattern">Precio de Compra:</label>
              <input type="number" name="txtPrecioCompra" pattern="[0-9]*" data-clear-bet="true" id="txtPrecioCompra" value="">
              <br>
              <label for="number-pattern">Precio de Venta:</label>
              <input type="number" name="txtPrecioVenta" pattern="[0-9]*" data-clear-bet="true" id="txtPrecioVenta" value="">
              <br>
              <label for="slider-fill">Stock:</label>
              <input type="range" name="txtStock" id="txtStock" value="10" min="0" max="200" step="1" data-highlight="true">
              <br/>
              <label for="slider2">Impuesto Medico:</label>
              <select name="txtImpuestoMedico" id="txtImpuestoMedico" data-role="slider">
                  <option value="Si">Si</option>
                  <option value="No">No</option>
              </select>
              <button class="ui-btn ui-shadow" id="agregarPoducto-send">Agregar Producto</button>
          </div>
      </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
            <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="agregarUsuarios" data-position="fixed">
  <div data-role="panel" id="novusPanel6" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
    <a href="#novusPanel6" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
  <div role="main" class="ui-content" id="">
  <h2 align="center">Cree su cuenta</h2>
  <form id="frm_login">
          <div class="ui-field-contain">
              <label for="lgn_user">Nombre</label>
              <input type="text" data-clear-btn="true" name="txtNombre" id="txtNombre" value="">
              <br/>
              <label for="lgn_user">Apellido</label>
              <input type="text" data-clear-btn="true" name="txtApellido" id="txtApellido" value="">
              <br/>
              <label for="lgn_user">Correo electrónico</label>
              <input type="email" data-clear-btn="true" name="txtCorreoElectronico" id="txtCorreoElectronico" value="">
              <br/>
              <label for="lgn_user">Contraseña</label>
              <input type="password" data-clear-btn="true" name="txtPassword" id="txtPassword" value="">
              <br/>
              <label for="lgn_user">Confirme su contraseña</label>
              <input type="password" data-clear-btn="true" name="txtConfirmacionContrasenia" id="txtConfirmacionContrasenia" value="">
              <br/>
              <button class="ui-btn ui-shadow" id="agregarUsuario-send">Crear</button>
          </div>
      </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
            <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="backlog">
  <div data-role="panel" id="novusPanel7" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
    <a href="#novusPanel7" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
    <div role="main" class="ui-content">
        <div id="backlog_container">

        </div>
    </div>
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li>
              <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
          </li>
        </ul>
      </div>
    </div>
</div>

<div data-role="page" id="backlogdetail">
  <div data-role="panel" id="novusPanel8" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
    <a href="#novusPanel8" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
    <div role="main" class="ui-content">
            <div>
                <div class="label">Nombre: </div>
                <div class="valHld" id="d_nombre">&nbsp;</div>
                <div class="label">Precio de Compra:</div>
                <div class="valHld" id="d_precioCompra">&nbsp;</div>
                <div class="label">Precio de Venta:</div>
                <div class="valHld" id="d_precioVenta">&nbsp;</div>
                <div class="label">Unidades en es stock:</div>
                <div class="valHld" id="d_stock">&nbsp;</div>
                <a href="#picUpload" data-role="button">Add Evidence</a>
                <a href data-role="button" id="btnDelete">Borrar Producto</a>
            </div>
    </div>
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li>
              <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
          </li>
        </ul>
      </div>
    </div>
</div>

<div data-role="page" id="picUpload" data-position="fixed">
  <div data-role="panel" id="novusPanel9" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
    <a href="#novusPanel9" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
  <div role="main" class="ui-content" id="">
  <h2>Agregar Foto</h2>
  <form id="frm_agregarFoto">
          <div class="ui-field-contain">
              <label for="file">Subir una foto del producto:</label>
              <input type="file" name="userpic" id="userpic" value="">
              <br>
              <div id="picMsg">

              </div>
              <button class="ui-btn ui-shadow" id="agregarFoto-send">Subir Foto</button>
          </div>
      </form>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
            <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="detalleProducto">
  <div data-role="panel" id="novusPanel10" data-display="push" class="">
    <!-- panel content goes here -->
    <ul data-role="listview">
      <li data-icon="plus"><a href="#agregarProductos" data-rel="">Agregar Productos</a></li>
      <li data-icon="edit"><a href="#backlog" data-rel="">Modificar Productos</a></li>
      <li data-icon="info"><a href="#conocenos" data-rel="">Conocenos</a></li>
    </ul>
  </div><!-- /panel -->
  <div data-role="header">
    <a href="#novusPanel10" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
    <a href="#inicioDeSesion" class="ui-btn ui-icon-user ui-btn-icon-notext"></a>
    <h2><img src="\images\LOGO18.png" alt="" /></h2>
  </div>
    <div role="main" class="ui-content">
            <div>
                <div class="label">Nombre: </div>
                <div class="valHld" id="d_nombre">&nbsp;</div>
                <div class="label">Precio de Venta:</div>
                <div class="valHld" id="d_precioVenta">&nbsp;</div>
                <div class="label">Unidades en es stock:</div>
                <div class="valHld" id="d_stock">&nbsp;</div>
                <a href data-role="button" id="btnDelete2">Borrar Producto</a>
            </div>
    </div>
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li>
              <a href="#home" class="ui-btn ui-icon-home ui-btn-icon-top">Home</a>
          </li>
        </ul>
      </div>
    </div>
</div>
